- project = nil unless defined?(:project)
- unless project
  - if params[:project_id]
    - project = Project.find(grab_param(:project_request, :project_id)) rescue nil
%ul
  - if !models || models.empty?
    %li.caption= "No Requests"
  - else
    - models.each do |model|
      %li
        = model.request.base_request_id if model.request
        - if current_user.has_delete_for_model? model
          %span.delete-button= link_to image_tag("/images/fluxx_engine/theme/default/icons/delete.png"), project_request_path(model), {:class => 'as-delete', 'data-on-success' => 'refreshCaller'}
