= form.input :letter_template, :label => 'Letter Template:', :as => :select, :collection => LetterTemplate.all.map {|letter_template| [letter_template.description, letter_template.id]}

= form.commit_button
