# TODO Drew Flesh out
.pairs
  .key Charity Check Approved?
  .value= model.tax_class_org.c3_status_approved ? "Yes" : "No" if model.tax_class_org
.pairs
  .key Charity Check Last Checked
  # TODO Drew do something more interesting; look into serialized field
  .value= model.tax_class_org.charity_check_date if model.tax_class_org3
