%div
  =req_trans.input :_destroy, :value => 0, :as => :hidden, :class => 'fluxx_delete_hidden_element_flag'
  =req_trans.input :id, :as => :hidden, :class => 'fluxx_delete_hidden_element_id'
  =req_trans.input :amount_due, :label => "Amount",  :aft => ('<img src="/fluxx_engine/theme/default/images/icons/delete.png" class="fluxx-delete-div" align="absmiddle" />')
  =req_trans.input :due_at, :label => "Due", :id => (rand * 999999999).to_i
  =req_trans.input :state, :as => :hidden
