= form.input :program_organization_lookup, :label => "Program Organization", :as => :autocomplete, :autocomplete_url => organizations_path(:format => :json), :related_attribute_name => :name, :input_html => {'data-related-child'.to_sym => '.org-sat-select'}
- program_organization_satellites = form.object.program_organization ? form.object.program_organization.satellites : []
= form.input :program_organization, :label => 'Location: ', :as => :select, :input_html => {:class => 'org-sat-select', 'data-param'.to_sym => 'related_org_ids', 'data-src'.to_sym => organizations_path(:format => 'json'), 'data-cache'.to_sym => 'org_sat_select'}, :collection => program_organization_satellites.map {|org| [org.name, org.id]}

= form.input :amount_requested, :label => "Amount Requested"

= form.commit_button
