%div.org_row
- unless model.request_organizations.size > 0
  No links to organizations
- else
  - model.request_organizations.each do |request_org|
    %div.edit_row_links
      - if can_current_user_edit_create_requests?
        %span.temp= link_to image_tag("/fluxx_engine/theme/default/images/icons/delete.png", :class => 'delete-button'), request_org, :class => 'as-delete'
  
    = request_org.organization.name
    - if request_org.description
      %div.relationship-description= request_org.description
    <br clear="all"/>