.visualizations
  %select.visualization_selector
    %option= '- Select One -'
    - @reports.each do |label, value|
      %option{:value => value}= label

  %ul.buttons
    %li= link_to 'Export', '#', :target => "_blank", :class => 'btn area-url'

