.visualizations
  %select.visualization-selector
    %option= '- Select One -'
    - @reports.each do |option|
      %option{:value => option[:value]}= option[:label]

  %ul.buttons
    %li= link_to 'Export', '#', :target => "_blank", :class => 'btn area-url'

