%ol.view-workflow
- timeline = @fluxx_request.event_timeline
- timeline.each_with_index do |req_state, idx|
- klass = (idx == 0 ? 'first' : (idx == timeline.length-1 ? 'last' : ''))
- if @fluxx_request.state == req_state
  %li."state selected #{klass}"= Request.state_to_english_translation req_state
  - else
    %li."state #{klass}"= Request.state_to_english_translation req_state