- model ||= nil
- unless model
  - if params[:request_id]
    - model = BlobStruct.new :id => params[:request_id], :class => Request
%ul
  - if !models || models.empty?
    %li.caption= "No People"
  - else
    - models.each do |model|
      %li.action-item
        = model.user.full_name if model.user
        - if current_user.has_delete_for_model? model
          %span.actions= link_to image_tag("/images/fluxx_engine/theme/default/icons/delete.png"), model, {:class => 'as-delete', 'data-on-success' => 'refreshCaller'}