- spending_year = Time.now.year
%h2
  = model.name
%h4
  = model.program.name if model.program
%h4 
  = FundingSourceAllocation.where(:sub_program_id => model.id, :spending_year => spending_year).sum('amount').to_currency
  Total Funding