- if model.respond_to?(:request_evaluation_metrics)
  %div.partial{'data-src' => request_evaluation_metrics_path(:request_id => model.id, :skip_wrapper => true)}
    = render :partial => "request_evaluation_metrics/request_evaluation_metrics_list", :locals => { :models => model.request_evaluation_metrics, :request => model }        
