%fieldset.inputs
  %ol
    = form.input :request_id, :as => :hidden
    = form.input :description, :label => "Description", :as => :text
    
    = form.input :comment, :label => "Comment", :as => :text

    = form.commit_button