- request = nil unless defined?(:request)
- unless request
  - if params[:request_id]
    - request = BlobStruct.new :id => params[:request_id], :class => Request
%h2 
  Evaluation Metrics
  %span.actions
    = link_to image_tag("/images/fluxx_engine/theme/default/icons/add.png"), new_request_evaluation_metric_path(:request_evaluation_metric => {:request_id => model.id}), :class => 'to-modal', :title => "Add Evaluation Metric", 'data-on-success' => 'refreshCaller,close'

%table.tabular{:cellspacing => 0}
  %thead
    %tr
      %th Description
      %th Comment
      %th 
  %tbody
    - if !models || models.empty?
      %tr
        %td{:colspan => 3}  No Metrics
    - else
      = render :partial => "request_evaluation_metrics/request_evaluation_metrics_show", :collection => models, :as => :model


