%h3 
  Funding Source Allocations
  %span.actions= link_to image_tag('/images/fluxx_engine/theme/default/icons/add.png', :class=> 'add-button'), new_funding_source_allocation_path, :class => 'to-modal', 'data-on-success' => 'refreshNamed,close', 'target' => '.funding-source-allocation-partial-span', :title => "Add Funding Source Allocation"
- if !models || models.empty?
  %p.caption= "There are no funding source allocations."
- else
  - models.each do |model|
    - funding_source_name = model.funding_source.name if model.funding_source
    %ul.list
      %li
        %div.action-item
          %strong= link_to model.composite_name, edit_funding_source_allocation_path(model), :class => 'to-modal', :title => 'Update Funding Source Allocation', 'data-on-success' => 'refreshCaller,close'
          - if current_user.has_delete_for_model? model
            %span.actions= link_to image_tag("/images/fluxx_engine/theme/default/icons/delete.png"), funding_source_allocation_path(model), {:class => 'as-delete', 'data-on-success' => 'refreshCaller'}