- program_id ||= grab_param(:funding_source_allocation, :program_id)
- sub_program_id ||= grab_param(:funding_source_allocation, :sub_program_id)
- initiative_id ||= grab_param(:funding_source_allocation, :initiative_id)
- sub_initiative_id ||= grab_param(:funding_source_allocation, :sub_initiative_id)
- partial_data_src_url = url_for(funding_source_allocations_path({:skip_wrapper => true}.merge(program_attributes)))
%div.partial{:class => 'funding-source-allocations-partial-span', 'data-src' => partial_data_src_url}
  = render :partial => 'funding_source_allocations/funding_source_allocation_list', :locals => {:models => models, :program_id => program_id, :sub_program_id => sub_program_id, :initiative_id => initiative_id, :sub_initiative_id => sub_initiative_id}