%div
  Board Authorities
  - group = MultiElementGroup.find_for_model_or_super FundingSourceAllocation, 'board_authorities'
  %ul.list
    - group.multi_element_values.each do |board_authority|
      %li= link_to (board_authority.description || board_authority.value), funding_source_allocations_path({:skip_wrapper => true, :authority_id => board_authority.id})