- current_year = Time.now.year
- year_range = ((current_year-25)..(current_year + 2))
= form.input :funding_year, :as => :select, :collection => year_range.to_a.reverse, :input_html => {:value => current_year}
= form.input :program_id, :as => :select, :collection => Program.load_all.sort_by{|prog| prog.name}.map {|prog|[prog.name, prog.id]}
