!!!
%html
  %head
    %title Fluxx Grant
    %meta{:name => "application-name", :content => "Fluxx" }
    %meta{:name => "description", :content => "Fluxx - The Open Source Grants Management Platform" }
    %link{:rel => "icon", :href => "/images/fluxx_engine/theme/default/icons/fluxx_128x128.png", :sizes => "128x128" }
    = stylesheet_link_tag :all
    = stylesheet_link_tag '/stylesheets/compiled/fluxx_engine/theme/default/grantee_portal.css'
    / = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container
      .pinwheel
      = yield
